{% extends 'base.html.twig' %}

{% block body_id 'contact_edit' %}

{% block main %}
    <h1>{{ 'title.edit_contact'|trans({'%id%': contact.id}) }}</h1>


    {{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.update_contact'|trans) }}
    </button>

        <a href="{{ path('contact_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list_contacts'|trans }}
        </a>
    {{ form_end(form) }}


{% endblock %}

{% block sidebar %}

    <div class="section actions">
        <form action="{{ url('contact_delete', {id: contact.id}) }}" method="post" data-confirmation="true" id="delete-form">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
            <button type="submit" class="btn btn-lg btn-block btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ 'action.delete_contact'|trans }}
            </button>
        </form>

    </div>

    {{ parent() }}

{% endblock %}
