{% extends 'base.html.twig' %}

{% block body_id 'contacts_index' %}

{% block main %}
    <h1>{{ 'title.contact_list'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">{{ 'label.author'|trans }}</th>
            <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'label.content'|trans }}</th>
            <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.content }}</td>
                <td class="text-right">
                    <div class="item-actions">

                        <a href="{{ path('contact_post_edit', {id: contact.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'post.no_posts_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('contact_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.add_new_contact'|trans }}
        </a>
    </div>

    {{ parent() }}

{% endblock %}
