{% extends 'base.html.twig' %}

{% block body_id 'contact_new' %}

{% block main %}
    <h1>{{ 'title.contact_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}

        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('contact_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list_contact'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
